.profile-page {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.profile-left {
  flex: 1;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-right {
  flex: 4;
  padding: 1rem;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.profile-info {
  margin-top: 0;
  font-family: "Times New Roman";
}

.username {
  font-size: 2.5rem;
}

.avatar-circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.avatar-circle:hover {
  transform: scale(1.05);
}

/* hide the actual picker */
.hidden-color-input {
  display: none;
}

.booktitle {
  background: var(--color2);
  width: 25rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Times New Roman";

  font-weight: 700;
  font-style: italic;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.book-card {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.book-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2rem;

  background: #b6f2d160;
  width: 15rem;
  height: 4rem;
  padding: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

  opacity: 0;
}

.booktitle:hover + .book-stats {
  opacity: 1;
}

.booktitle:hover {
  transform: translateY(-5px);
}

.book-stats p {
  margin: 0;
  line-height: 1.2rem;
  font-size: 0.95rem;
}

.bold-label {
  font-weight: 700;
}
